---
version: "3.7"
services:

  mvn:
    build: Build
    volumes:
      - share:/home/war

  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: myuser
      MYSQL_PASSWORD: myuserpassword

  web:
    image: tomcat:alpine
    volumes:
      - share:/usr/local/tomcat/webapps
      - ./app:/usr/local/tomcat/ROOT/
    ports:
      - "8081:8080"
    depends_on:
      - mvn
      - db
volumes:
  share:
  db_data: